version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: idempotent
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass

  redis:
    image: redis:7-alpine

  web:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
